NODE_ENV=development
PORT=port
JWT_SECRET=secret
MONGODB_URI=your_mongodb_uri
FRONTEND_URL=your_frontend_domain

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_front_google_password

GIGACHAT_CLIENT_ID=your_gigachat_client_id
GIGACHAT_CLIENT_SECRET=your_gigachat_client_secret
GIGACHAT_AUTH_KEY=authorization_key

STRIPE_PRICE_ID=you_product_price
STRIPE_SECRET_KEY=you_secret_key
STRIPE_WEBHOOK_SECRET=your_webhook_secret
