NODE_ENV=development
PORT=3000
JWT_SECRET=your_jwt_secret_here
MONGODB_URI=mongodb://localhost:27017/yourdb
OPENROUTER_API_KEY=your_openrouter_key_here
FRONTEND_URL=http://localhost:5173

RECAPTCHA_SECRET_KEY=your_secret_key_here
RECAPTCHA_VERIFY_URL=https://www.google.com/recaptcha/api/siteverify
