.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sliderLabel {
  font-size: 14px;
}